 /* Background: #d4d4d4 ,  #320AFA */
 /* DRY Methods */
 /* Nav CSS*/
 h1 {
   text-align: center;
   text-decoration: underline;
   font-weight: bolder;
 }
 nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #d4d4d4;
   padding: .625rem;
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
 }
 .logo img {
   height: 6rem;
 }
 .menu ul {
   display: flex;
   list-style: none;
   margin: 0;
   padding: 0;
 }
 .menu li {
   margin-left: .625rem;
   position: relative;
 }
 .menu a {
   color: #444;
   text-decoration: none;
   display: block;
   padding: .625rem;
   border-radius: .313rem;
   transition: background-color 0.3s ease;
 }
 #banner {
   width: 3.125rem;
 }
 /* Footer CSS*/
 footer {
   background-color: #d4d4d4;
   color: #333;
   font-size: 1.2rem;
   padding: 2rem 0;
   width: fit-content;
 }
 .footer-container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   max-width: 100%;
   margin: 0 auto;
   padding: 0 2rem;
   margin-top: 1rem;
 }
 .footer-section {
   margin-bottom: 2rem;
   width: 45%;
 }
 .footer-section h3 {
   font-size: 1.5rem;
   margin-bottom: 1rem;
 }
 .footer-section ul {
   list-style: none;
   margin: 0;
 }
 .footer-section li {
   margin-bottom: 0.5rem;
 }
 .footer-section a {
   color: #333;
   text-decoration: none;
 }
 .fa {
   font-size: 30px;
   width: 30px;
   text-align: center;
   text-decoration: none;
   border-radius: 50%;
 }
 .fa:hover {
   opacity: 0.7;
 }
 .fa-facebook {
   background: #3B5998;
   color: white;
 }
 .fa-twitter {
   background: #55ACEE;
   color: white;
 }
 .fa-instagram {
   background: #125688;
   color: white;
 }
 .fa-snapchat-ghost {
   background: #fffc00;
   color: white;
 }
 /* Home Page  */
 /* Slideshow CSS */
 .slideshow {
   width: 100%;
   position: relative;
   margin: auto;
 }
 .slideshow h1 {
   text-align: center;
 }
 .pics {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 60%;
   margin: auto;
   height: 60vh;
 }
 .pics img {
   width: 100%;
   height: 100%;
   object-fit: contain;
 }
 .team {
   display: flex;
   justify-content: space-around;
 }
 .team img {
   max-width: 100%;
   height: 40vh;
   margin: 2rem;
 }
 /* Product Page  */
 /* TABLE OF CONTENTS  (TOC) */
 main {
   color: #333;
   font-size: 1.2rem;
   padding: 2rem 0;
 }
 .TOC {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   max-width: 75rem;
   margin: 0 auto;
   padding: 0 2rem;
 }
 .TOC-section {
   margin-bottom: 2rem;
   width: 25%;
 }
 .TOC-section a {
   font-size: 1.5rem;
   margin-bottom: 1rem;
 }
 /* H2 class="catergories" */
 .catergories {
   text-align: center;
   font-weight: bolder;
 }
 #accessories-json,
 #clothes-json,
 #gear-json,
 #juice-json {
   display: flex;
   flex-flow: row wrap;
   place-content: center space-around;
   align-items: center;
   gap: 4rem;
   justify-content: center;
   align-content: center;
 }
 .product-card {
   background-color: #444;
   min-height: 600px;
   color: #fff;
   border-radius: .313rem;
   font-size: 150%;
   width: 40%;
 }
 .product-card h1 {
   font-weight: bold;
   font-size: 1.125rem;
   margin-top: 0.625rem;
   max-height: 125px;
 }
 .product-card img {
   width: 12.5rem;
   max-height: 12.5rem;
   margin-bottom: 0.625rem;
   margin-top: 1rem;
 }
 .product-card h2 {
   font-weight: bold;
   font-size: 1rem;
   color: azure;
   margin-bottom: 0.625rem;
 }
 .product-card p {
   font-weight: bold;
   font-size: 1.125rem;
   max-height: 186px;
   margin-bottom: .625rem;
 }
 .product-card button {
   background-color: #d4d4d4;
   color: #ffffff;
   border: none;
   padding: .625rem 1.25rem;
   border-radius: .313rem;
   font-size: 1rem;
   cursor: pointer;
 }
 /* Contact Us Page CSS */
 /* Partners Content */
 .trainers {
   border: 2px solid #320AFA;
   background-color: #d4d4d4;
   border-radius: 5px;
   padding: 1rem;
   margin: 1rem 0;
 }
 .trainers::after {
   /* Clear floats after containers */
   content: "";
   clear: both;
   display: table;
 }
 .trainers img {
   float: left;
   margin-right: 20px;
   border-radius: 50%;
   width: 90px;
 }
 .trainers span {
   font-size: 20px;
   margin-right: 15px;
 }
 /* Contact Form */
 * {
   box-sizing: border-box;
 }
 input[type=text],
 select,
 textarea {
   width: 100%;
   padding: 12px;
   border: 1px solid #320AFA;
   border-radius: 4px;
   box-sizing: border-box;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
 }
 input[type=submit] {
   background-color: #d4d4d4;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }
 input[type=submit]:hover {
   background-color: #d4d4d4;
 }
 .container {
   border-radius: 5px;
   background-color: #d4d4d4;
   padding: 20px;
 }
 /* Media Querys */
 /* Iphone 12 Pro */
 @media (min-width:390px) {
   .footer-container {
     display: flex;
     flex-direction: column;
   }
   .pics img {
     width: 150%;
   }
   #banner {
     display: none;
   }
   .menu>ul {
     display: inline;
     margin-right: 13rem;
   }
   .footer-section {
     width: 100%;
   }
   .TOC {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
   }
   #accessories-json,
   #clothes-json,
   #gear-json,
   #juice-json {
     display: flex;
     flex-flow: column;
   }
   .product-card {
     font-size: 150%;
     width: 90%;
   }
   .product-card img {
     padding-left: 4rem;
     width: auto;
   }
 }
 /* IPad Air */
 @media (min-width: 768px) {
   nav {
     width: 100%;
     overflow: hidden;
   }
   .logo img {
     height: 10rem;
   }
   #accessories-json,
   #clothes-json,
   #gear-json,
   #juice-json {
     display: flex;
     flex-flow: column;
     padding-left: 7rem;
   }
   #banner {
     padding-right: 33rem;
     display: block;
   }
   .menu ul {
     flex-direction: column;
   }
   .menu li {
     margin: .625rem 0;
   }
   .TOC {
     flex-direction: column;
   }
   .TOC-section {
     width: 100%;
   }
   .footer-container {
     display: grid;
     grid-template-columns: repeat(2, 50%);
     grid-template-rows: repeat(2, 45%);
   }
   .footer-section {
     display: inline;
     width: 70%;
   }
   .trainers {
     text-align: center;
   }
   .trainers img {
     margin: auto;
     float: none;
     display: block;
   }
   .team {
     display: grid;
     grid-template-columns: auto auto;
     grid-template-rows: auto auto;
   }
 }
 @media (min-width: 1000px) {
   .product-grid {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-gap: 0.625rem;
     color: #444;
   }
   #accessories-json,
   #clothes-json,
   #gear-json,
   #juice-json {
    display: flex;
    flex-flow: column;
    flex-direction: row;
    justify-content: flex-start;
    width: 100vw;
    align-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
   }
   .product-card {
     font-size: 150%;
     width: 400px;
     padding: 5rem;
     height: 650px;
     aspect-ratio: 5/8;
     display: flex;
     flex-direction: column;
     align-content: center;
     align-items: center;
   }
   .product-card p {
    width:320px;
   }
   .product-card img{
    padding-right: 4rem;
   }
   .team {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: stretch;
   }
   .team img{
    margin: 2rem;
    height: 40vh;
   }
 }