 /* Background: #D4D4D4 ,  #320AFA */

                                      /* DRY Methods */
/* Nav CSS*/
h1 {
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;

  }
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D4D4D4;
    padding: .625rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    height: 6rem;
  }
  
  .menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-left: .625rem;
    position: relative;
  }
  
  .menu a {
    color: #444;
    text-decoration: none;
    display: block;
    padding: .625rem;
    border-radius: .313rem;
    transition: background-color 0.3s ease;
  }

  #banner{
    width: 3.125rem;
  }

  @media(max-width:944px){
  #banner{
    display: none;
   }
  }

  .menu a:hover {
    background-color: #D4D4D4;
  }
  
  
  @media (max-width: 768px) {
    .menu ul {
      flex-direction: column;
    }
    
    .menu li {
      margin: .625rem 0;
    }
  }

  /* Footer CSS*/
  footer {
    background-color: #D4D4D4;
    color: #333;
    font-size: 1.2rem;
    padding: 2rem 0;
    width: fit-content;
  }
  
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    margin-top: 1rem;
  }
  
  
  .footer-section {
    margin-bottom: 2rem;
    width: 30%;
  }
  
  
  .footer-section h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  
  .footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  
  .footer-section li {
    margin-bottom: 0.5rem;
  }
  
  
  .footer-section a {
    color: #333;
    text-decoration: none;
  }
  
  
  @media screen and (max-width: 768px) {
    .footer-container {
      flex-direction: column;
    }
    
    .footer-section {
      width: 100%;
    }
  }
                                                           /* Home Page  */
/* Slideshow CSS */
.slideshow{
    width: 100%;
    position: relative;
    margin: auto;
  }
  .slideshow h1{
    text-align: center;
  }
  .pics{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    height: 60vh;
  }
  .pics img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .previous .next{
    position: absolute;
    transform: translateY(-50%);
    font-size: 2.5rem;
    font-weight: bold;
    color: #320AFA;
    padding: .625rem;
    cursor: pointer;
  }
  .previous{
    position: absolute;
    width: 7.0625rem;
    height: 8.8125rem;
    left: 11.375rem;
    top: 26.125rem;
    font-size: 3rem;
  }
  .next{
    position: absolute;
    width: 7.0625rem;
    height: 8.8125rem;
    left: 74rem;
    top: 26.125rem;
    font-size: 3rem;
  }
  .team{
      display: flex;
      justify-content:space-around;
  }
  .team img{
      max-width: 100%;
    height: 40vh;
  }
  @media(max-width:815px){
    .team{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        /* flex-wrap: wrap; */
    }
  }  
  @media(min-width:816px){
    .product-grid{
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      text-align: center;
      align-items: center;
    }
  }
                                                         /* Product Page  */
/* TABLE OF CONTENTS  (TOC) */
  main {
    color: #333;
    font-size: 1.2rem;
    padding: 2rem 0;
  }
  
  
  .TOC {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 2rem;
  }
  
  
  .TOC-section {
    margin-bottom: 2rem;
    width: 25%;
  }
  
  
  .TOC-section a {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  
  @media screen and (max-width: 768px) {
    .TOC {
      flex-direction: column;
    }
    
    .TOC-section {
      width: 100%;
    }
  }

/* H2 class="catergories" */
.catergories{
  text-align: center;
  font-weight: bolder;
}

.products{
    background-color: #444;
    color: #fff;
    border-radius: .313rem;
    padding: 1.25rem;
    font-size: 150%;
}
.products h1{
    font-weight: bold;
    font-size: 1.125rem;;
    margin-top: 0.625rem;
}
  
.products img{
    width: 12.5rem;
    height: 12.5rem;
    margin-bottom: 0.625rem;
}
  
.products h3{
    font-weight: bold;
    font-size: 1rem;
    color: #320AFA;
    margin-bottom: 0.625rem;
}
.products p{
    font-weight: bold;
    font-size: 1.125rem;
    margin-bottom: .625rem;
}
.products button{
    background-color: #D4D4D4;
    color: #ffffff;
    border: none;
    padding: .625rem 1.25rem;
    border-radius: .313rem;
    font-size: 1rem;
    cursor: pointer;
  }  
@media(max-width:815px){
  .product-grid{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}  
@media(min-width:816px){
  .product-grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    text-align: center;
    align-items: center;
  }
}
@media(min-width:1447px){
  .product-grid{
    display: grid;
    grid-gap: 0.625rem;
    color: #444;
    grid-template-columns:repeat(4, 21.875rem);
  } 
  }

                                                                /* Contact Us Page CSS */
 /* Partners Content */
  .trainers {
    border: 2px solid #320AFA;
    background-color: #D4D4D4;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0;
  }
  .trainers::after {                    /* Clear floats after containers */
    content: "";
    clear: both;
    display: table;
  }
  .trainers img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    width: 90px;
  }
  .trainers span {
    font-size: 20px;
    margin-right: 15px;
  }
  @media (max-width: 500px) {
    .trainers {
      text-align: center;
    }
    .trainers img {
      margin: auto;
      float: none;
      display: block;
    }
  }
  /* Contact Form */
  * {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #320AFA;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #D4D4D4;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #D4D4D4;
}

.container {
  border-radius: 5px;
  background-color: #D4D4D4;
  padding: 20px;
}