 /* Background: #D4D4D4 ,  #320AFA */

                                      /* DRY Methods */
/* Nav CSS*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D4D4D4;
    padding: .625rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    height: 6rem;
  }
  
  .menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-left: .625rem;
    position: relative;
  }
  
  .menu a {
    color: #444;
    text-decoration: none;
    display: block;
    padding: .625rem;
    border-radius: .313rem;
    transition: background-color 0.3s ease;
  }

  #banner{
    width: 3.125rem;
  }

  @media(max-width:944px){
  #banner{
    display: none;
   }
  }

  .menu a:hover {
    background-color: #D4D4D4;
  }
  
  
  @media (max-width: 768px) {
    .menu ul {
      flex-direction: column;
    }
    
    .menu li {
      margin: .625rem 0;
    }
  }

  /* Footer CSS*/
  footer {
    background-color: #D4D4D4;
    color: #333;
    font-size: 1.2rem;
    padding: 2rem 0;
    width: fit-content;
  }
  
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 2rem;
  }
  
  
  .footer-section {
    margin-bottom: 2rem;
    width: 30%;
  }
  
  
  .footer-section h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  
  .footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  
  .footer-section li {
    margin-bottom: 0.5rem;
  }
  
  
  .footer-section a {
    color: #333;
    text-decoration: none;
  }
  
  
  @media screen and (max-width: 768px) {
    .footer-container {
      flex-direction: column;
    }
    
    .footer-section {
      width: 100%;
    }
  }

                                                         /* Home Page  */
/* Slideshow CSS */
.slideshow{
  width: 100%;
  position: relative;
  margin: auto;
}
.slideshow h1{
  text-align: center;
}
.pics{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
  height: 60vh;
}
.pics img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.previous .next{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  font-weight: bold;
  color: #320AFA;
  padding: .625rem;
  cursor: pointer;
}
.previous{
  position: absolute;
  width: 7.0625rem;
  height: 8.8125rem;
  left: 11.375rem;
  top: 26.125rem;
  font-size: 3rem;
}
.next{
  position: absolute;
  width: 7.0625rem;
  height: 8.8125rem;
  left: 74rem;
  top: 26.125rem;
  font-size: 3rem;
}
                                                         /* Product Page  */
/* TABLE OF CONTENTS  (TOC) */
  main {
    color: #333;
    font-size: 1.2rem;
    padding: 2rem 0;
  }
  
  
  .TOC {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 2rem;
  }
  
  
  .TOC-section {
    margin-bottom: 2rem;
    width: 25%;
  }
  
  
  .TOC-section a {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  
  @media screen and (max-width: 768px) {
    .TOC {
      flex-direction: column;
    }
    
    .TOC-section {
      width: 100%;
    }
  }

/* H2 class="catergories" */
.catergories{
  text-align: center;
  font-weight: bolder;
}

.product-card{
    background-color: #444;
    color: #fff;
    border-radius: .313rem;
    padding: 1.25rem;
    font-size: 150%;
}
.product-card h1{
    font-weight: bold;
    font-size: 1.125rem;;
    margin-top: 0.625rem;
}
  
.product-card img{
    width: 12.5rem;
    height: 12.5rem;
    margin-bottom: 0.625rem;
}
  
.product-card h3{
    font-weight: bold;
    font-size: 1rem;
    color: #ff6600;
    margin-bottom: 0.625rem;
}
.product-card p{
    font-weight: bold;
    font-size: 1.125rem;
    margin-bottom: .625rem;
}
.product-card button{
    background-color: #ff6600;
    color: #ffffff;
    border: none;
    padding: .625rem 1.25rem;
    border-radius: .313rem;
    font-size: 1rem;
    cursor: pointer;
  }  
@media(max-width:815px){
  .product-grid{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}  
@media(min-width:816px){
  .product-grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    text-align: center;
    align-items: center;
  }
}
@media(min-width:1447px){
  .product-grid{
    display: grid;
    grid-gap: 0.625rem;
    color: #444;
    grid-template-columns:repeat(4, 21.875rem);
  } 
  }